
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


*{
  
  box-sizing: border-box;
}

@theme  {
  --font-public-sans: 'Public Sans', sans-serif;

}


.bg-hero {
 background-image: url('../../public/images/image-bg.png');
  background-position: left;
  background-size: cover;

 
}


