
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


*{
  
  box-sizing: border-box;
}

@theme  {
  --font-public-sans: 'Public Sans', sans-serif;
  --color-primary: #3BA334;
  --color-primary-200:#ABDAA9;
  --color-heading-800:#212B36;
  --color-text-600:#637381;
  --color-text-200:#F4F6F8;
}


.bg-hero {
 background-image: url('../../public/images/image-bg.png');
  background-position:30px 50%;
  background-repeat: no-repeat;
  background-size: cover;
  
  
  
}


